# LaTeX intermediate files
*.aux
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.toc
*.bbl
*.blg
*.nav
*.snm
*.vrb

# macOS
.DS_Store

# VSCode (keep settings.json, ignore the rest)
.vscode/*
!.vscode/settings.json
